body {
  height: 100%;
}
.line {
  width: 70%;
  text-align: center;
  /*padding: 1em;*/
}
.line label {
  min-width: 1em;
}
.login-body {
  background-color: lightgreen;
}
.login-body form{
  margin: auto;
  width: 40%
}
.login-body form button {
  margin: auto;
  margin-top: 1em;
  width: 100%;
}
.following {
  width: 80%;
  margin: auto;
}
.small-company {
  float: right;
}
img.small-logo {
  width: 3em;
}
.hide {
  display: none;
}
.div-username {
  float: right;
  width: 10em;
}
.header {
  display: block;
  height: 10em;
  margin: auto;
  width: 80%;
}
.header label{
  float: right;
  color: blue;
  font-size: 2em;
}
.header a{
  float: right;
}
